<div class="container">
    <div class="row mt-2">
        <div class="col-md-12">
            <button type="button" class="btn btn-info btn-sm" (click)="onGetAllProducts()">Load Data</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <ng-container 
        *ngIf="(products$ | async) as Result" 
            [ngSwitch]="Result.dataState">

        <!-- Cas ERROR-->  
        <ng-conrainer *ngSwitchCase="DataStateEnum.ERROR">
            {{ Result.errorMessage}}
        </ng-conrainer>
        <!-- Cas LOADING-->
        <ng-conrainer *ngSwitchCase="DataStateEnum.LOADING">
                Loading ...
        </ng-conrainer>
        <!-- Cas LOADED GET DATA-->
        <ng-conrainer *ngSwitchCase="DataStateEnum.LOADED">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of Result.data">
                        <td scope="row">{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.selected}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-conrainer>
    </ng-container>
        </div>
    </div>
</div>